/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* front page */
.frontPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 100vw;
  margin-bottom: 5vh;
}

.topTitle {
  font-size: 24vw;
  width: 95%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(to bottom, #40749c, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -17vw;
  margin-top: 15vw;
}


.gilbert{
  height: 11vh;
  width: auto;
  align-self: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  transform: rotate(20deg);
}


.title {
  font-size: 20vw;
  width: 80%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(to bottom, #40749c, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -14vw;
}



.title:after {
  content: "";
  display: block;
  width: 25vw;
  height: 1vw;
  background-color: #ddd;
  margin: 0 auto;
  margin-top: 1px;

}


/* login form */

.loginForm {
  width: 85vw;
  height: 30vh;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.loginForm label {
  font-weight: bold;
  color: #516f87;
  font-size: 6vw;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
  width: 80%;
  padding: 0rem 0.5rem;
  margin-top: 1rem  ;
  color: #6d6e6d;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-self: center;
  text-decoration: none;
}

.loginFormButton {
  width: 100%;
  font-size: 4vw;
  background-color: #445c6d;
  color: white;
  padding: 0.6rem 0.6rem;
  margin: 1rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginform input[type="submit"]:hover {
  background-color: #45a049;
}
/* end loginform */
/* end front page */

/* sign up page*/

.signUpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thoughtBubble {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  align-self: flex-start;
}

.welcomeGilbert{
  height: 24vh;
  width: auto;
  margin-top: -1rem;
}

/* signupForm */
.signUpForm {
  width: 95vw;
  height: 40vh;
  margin: 0 auto;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.signUpForm label {
  font-weight: bold;
  color: #516f87;
  font-size: 5vw;
}

.signUpForm input[type="text"],
.signUpForm input[type="password"] {
  width: 80%;
  padding: 0rem 0.5rem;
  margin-top: 1rem  ;
  color: #6d6e6d;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-self: center;
  text-decoration: none;
}

.signUpFormButton {
  width: 100%;
  font-size: 4vw;
  background-color: #445c6d;
  color: white;
  padding: 0.6rem 0.6rem;
  margin: 1rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signUp-form input[type="submit"]:hover {
  background-color: #45a049;
}
